.background {
  /* Set background image or color */
  /* Example: */
  background-image: linear-gradient(45deg, #ebdfc1, #ecedee);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  min-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  position: relative;
}

.container .loading .spin,
.container .loading .spin::before {
  width: 80px;
  height: 80px;
  border: 5px solid #efbe43;
  border-radius: 100%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin 2s linear infinite;
}

.container .loading .spin {
  width: 120px;
  height: 120px;
  position: relative;
}

.container .loading .spin::before {
  content: "";
  position: absolute;
  animation: spin 2s reverse infinite;
  top: 10px;
  left: 10px;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-container {
  text-align: center;
}

.container .input-group {
  margin-bottom: 15px;
}

.container label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  opacity: 0.8;
}

.container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.container button {
  background-color: #efbe43 !important;
  color: white;
  border: none;
  width: 150px;
  border-radius: 3px;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0 0 10px #fff;
}

.container p {
  margin-top: 10px;
  opacity: 0.8;
  font-size: 14px;

  span {
    color: blue;
    cursor: pointer;
  }
}

/* Responsive Styles (Optional) */
@media (max-width: 768px) {
  /* Adjust container width for smaller screens */
  .container {
    max-width: 90%;
    border-radius: 5px;
  }
}

@media (max-width: 480px) {
  /* Adjust container width for smaller screens */
  .container {
    min-width: 300px;
    max-width: 95%;
    border-radius: 5px;
  }
}
